---
import { getEntryBySlug } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import InstrumentDetail from "~/components/InstrumentDetail.astro";
import { instruments } from "~/data/instruments";

export function getStaticPaths() {
    return instruments.map(instrument => ({
        params: { slug: instrument.slug }
    }));
}

const { slug } = Astro.params;
const instrument = await getEntryBySlug("instruments", slug ?? "");
if (!instrument) {
    throw Error(`Did not find instrument for slug: ${slug}`);
}
---
<Layout title="Till salu" page="/butik" metaDescr="butik försäljning till salu">
    <InstrumentDetail instrument={instrument} />
    <a href="/butik">Tillbaka till butik</a>
</Layout>
